.dropdown-link {
  cursor: pointer;

  color: $body-color;
  text-decoration: none;

  &:after {
    margin-left: .5rem;
    color: $primary;
  }

  &:hover,
  &:focus {
    color: darken($body-color, 15%);

    &:after {
      color: darken($primary, 15%);
    }
  }
}

.dropdown {
  .dropdown-select {
    position: relative;
    display: inline-block;

    @include caret;

    &:after {
      position: absolute;
      top: .5rem;
      right: 0;
      color: $primary;
      pointer-events: none;
    }

    .custom-select {
      cursor: pointer;
      background: transparent;
      color: $body-color;
      width: auto;
      height: auto;
      padding: 0 1.5rem 0 0;
      border: none;
      vertical-align: baseline;
    }

    &:hover,
    &:focus {
      &:after {
        color: darken($primary, 15%);
      }

      .custom-select {
        color: darken($body-color, 15%);
      }
    }
  }
}
