.btn {
  &.playground-toolbar-btn {
    background: transparent;
    border: none;
    padding: .5rem .75rem;

    .iap-icon {
      background: $blue-gray-dark;
    }

    &:hover,
    &:focus,
    &.active {
      background: rgba($brand-global, .2);

      .iap-icon {
        background: $brand-global;
      }
    }

    &:disabled,
    &.disabled {
      background: transparent;
      .iap-icon {
        background: $blue-gray-dark;
      }
    }
  }
}

.playground-toolbar-item-group {
  display: flex;
}

.playground-toolbar-item {
  margin: 0 .5rem;
}

.custom-range {
  &.playground-toolbar-range {
    &:focus {
      &::-webkit-slider-thumb { box-shadow: $depth-box-shadow-8; }
      &::-moz-range-thumb     { box-shadow: $depth-box-shadow-8; }
      &::-ms-thumb            { box-shadow: $depth-box-shadow-8; }
    }

    &::-webkit-slider-thumb {
      border: solid .25rem $white;
      box-shadow: $depth-box-shadow-3;
    }

    &::-moz-range-thumb {
      border: solid .25rem $white;
      box-shadow: $depth-box-shadow-3;
    }

    &::-ms-thumb {
      border: solid .25rem $white;
      box-shadow: $depth-box-shadow-3;
    }
  }
}
