.badge {
  &.status-badge {
    color: $white;
    padding: .5rem 2rem;
    font-size: $font-size-base * .875;
    min-width: $font-size-base * 8;

    &.status-badge-joined {
      background: $blue-gray-light;
    }

    &.status-badge-pending {
      background: $purple;
    }
  }
}
