.content-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  color: $slate-gray;

  .breadcrumb-item {
    a {
      color: $slate-gray;
      text-decoration: none;

      &:hover {
        color: darken($slate-gray, 7.5%);
      }
    }

    + .breadcrumb-item {
      &::before {
        color: $slate-gray;
        content: ">";
      }
    }

    &.active {
      color: $slate-gray;
    }
  }
}
