.content-header {
  padding-top: $spacer * 2;
  width: 100%;

  &.content-header-sticky {
    position: sticky;
    top: $layout-header-height;
    z-index: $zindex-sticky;
  }
}

.content-main {
  width: 100%;
  padding: $spacer * 2.0 0;
}
