.dropdown .dropdown-link {
  color: $body-color;
  text-decoration: none;
  cursor: pointer;

  @include caret;

  &:after {
    margin-left: .5rem;
    color: $primary;
  }

  &:hover,
  &:focus {
    color: darken($body-color, 15%);

    &:after {
      color: darken($primary, 15%);
    }
  }
}
