.footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0.5rem 2rem;
}

.footer-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    color: $slate-gray;
    padding-right: $navbar-nav-link-padding-x;
    padding-left: $navbar-nav-link-padding-x;

    &:hover,
    &:focus {
      color: darkn($slate-gray, 15%);
    }

    &.disabled {
      color: $gray-600
    }
  }
}
