.header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  padding: $spacer * 0.75 3rem;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-item {
    .nav-text {
      color: $slate-gray;
      display: inline-block;
      padding: $nav-link-padding-y $navbar-nav-link-padding-x;
    }
  }

  .nav-link {
    color: $primary;
    padding-right: $navbar-nav-link-padding-x;
    padding-left: $navbar-nav-link-padding-x;

    &:hover,
    &:focus {
      color: darkn($primary, 15%);
    }

    &.disabled {
      color: $gray-400
    }
  }
}
