.content-modal {
  .modal-header {
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-bottom: none;
  }

  .modal-title {
    margin-top: $spacer * 1.5;
    font-size: $font-size-base * 1.625;
    text-align: center;
  }

  .modal-body {
    padding: $spacer * 2 $spacer * 4;
  }

  .modal-footer {
    justify-content: center;
    padding-bottom: $spacer * 4;
    border-top: none;
  }
}
