.left-sidebar .sidebar-inner {
  background-image: linear-gradient(to top, #fbfbfb, #f5f5f5);
  width: 100%;
  height: 100%;
  padding-top: $layout-header-height;
  box-shadow: $depth-box-shadow-16;
  overflow-y: scroll;
}

.sidebar-brand {
  display: block;
  color: $gray-800;
  margin-right: $spacer;
  margin-left: $spacer;
  text-align: center;
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($gray-800, 15%);
  }

  small {
    display: block;
    color: $blue-gray;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: 1;

    &:hover,
    &:focus {
      text-decoration: none;
      color: darken($blue-gray, 15%);
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: $font-size-base * 1.125;
  font-weight: $font-weight-bold;

  .nav-link {
    color: $blue-gray-light;
    padding: .75rem 2rem;

    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;

    &:hover,
    &:focus {
      background: #f3f4f4;
      color: $blue-gray;
    }

    &.active {
      background: #f3f4f4;
      color: $blue-gray-dark;
      padding-left: calc(2rem - 5px);
      border-left: 5px solid $dark;
    }
  }
}

.sidebar-nav .nav-item > .nav-drilldown {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;

  > .nav-link {
    cursor: pointer;

    @include caret;

    &:after {
      margin-left: 1rem;
      color: $dark;
    }
  }

  > .nav-children {
    display: none;
    flex-direction: column;
    margin-left: 0.75rem;
    font-size: $font-size-base;
  }

  &.active {
    background: #f3f4f4;
    border-left: 5px solid $dark;

    > .nav-link {
      color: $blue-gray-dark;
      padding-left: calc(2rem - 5px);
    }

    > .nav-children {
      display: flex;
      margin-left: calc(0.75rem - 5px);

      & .nav-link.active {
        border-left-width: 0;
        padding-left: 2rem;
      }
    }
  }

  &.show,
  &.hoverable:hover,
  &.hoverable:focus {
    background: #f3f4f4;

    > .nav-children {
      display: flex;
    }
  }
}

.sidebar-nav.sidebar-nav-global {
  .nav-link {
    &.active {
      border-left: 5px solid $brand-global;
      border-image: linear-gradient(to bottom, $brand-gradient-global-0, $brand-gradient-global-1);
      border-image-slice: 1;
    }
  }
}

.sidebar-nav-global .nav-item > .nav-drilldown {
  > .nav-link {
    &:after {
      margin-left: 1rem;
      color: $brand-global;
    }
  }

  &.active {
    border-left: 5px solid $brand-global;
    border-image: linear-gradient(to bottom, $brand-gradient-global-0, $brand-gradient-global-1);
    border-image-slice: 1;
  }
}


.sidebar-nav.sidebar-nav-ai {
  .nav-link {
    &.active {
      border-left: 5px solid $brand-ai;
      border-image: linear-gradient(to bottom, $brand-gradient-ai-0, $brand-gradient-ai-1);
      border-image-slice: 1;
    }
  }
}

.sidebar-nav-ai .nav-item > .nav-drilldown {
  > .nav-link {
    &:after {
      margin-left: 1rem;
      color: $brand-ai;
    }
  }

  &.active {
    border-left: 5px solid $brand-ai;
    border-image: linear-gradient(to bottom, $brand-gradient-ai-0, $brand-gradient-ai-1);
    border-image-slice: 1;
  }
}
