.content-table {
  thead th,
  thead td {
    color: $blue-gray-dark;

    > a:not(.iap-icon-link):not(.dropdown-link) {
      color: $blue-gray-dark;
      text-decoration: none;
    }
  }

  tbody th,
  tbody td {
    color: $slate-gray;
    vertical-align: middle;

    > a:not(.iap-icon-link):not(.dropdown-link) {
      color: $slate-gray;
      text-decoration: none;
    }

    .dropdown-link {
      color: $slate-gray;

      &:after {
        color: $primary;
      }

      &:hover,
      &:focus {
        color: darken($slate-gray, 15%);

        &:after {
          color: darken($primary, 15%);
        }
      }
    }

    .dropdown-select {
      &:after {
        color: $primary;
      }

      .custom-select {
        color: $slate-gray;
      }

      &:hover,
      &:focus {
        &:after {
          color: darken($primary, 15%);
        }

        .custom-select {
          color: darken($slate-gray, 15%);
        }
      }
    }
  }

  tbody tr:hover,
  tbody tr.table-active {
    background-color: $table-hover-bg;

    > a:not(.iap-icon-link):not(.dropdown-link) {
      color: $blue-gray;

      .iap-icon {
        background: $blue-gray;
      }

      &:hover {
        color: darken($blue-gray, 15%);

        .iap-icon {
          background: darken($blue-gray, 15%);
        }
      }
    }
  }
}

.content-table.content-table-global {
  .custom-checkbox .custom-control-input:checked~.custom-control-label:before  {
    background-color: $brand-global;
  }

  tbody th,
  tbody td {
    .dropdown-link {
      &:after {
        color: $brand-global;
      }

      &:hover,
      &:focus {
        &:after {
          color: darken($brand-global, 15%);
        }
      }
    }

    .dropdown-select {
      &:after {
        color: $brand-global;
      }

      &:hover,
      &:focus {
        &:after {
          color: darken($brand-global, 15%);
        }
      }
    }
  }

  tbody tr:hover,
  tbody tr.table-active {
    td > a:not(.iap-icon-link):not(.dropdown-link) {
      color: $brand-global;

      .iap-icon {
        background: $brand-global;
      }

      &:hover {
        color: darken($brand-global, 15%);

        .iap-icon {
          background: darken($brand-global, 15%);
        }
      }
    }
  }
}

.content-table.content-table-ai {
  .custom-checkbox .custom-control-input:checked~.custom-control-label:before  {
    background-color: $brand-ai;
  }

  tbody th,
  tbody td {
    .dropdown-link {
      &:after {
        color: $brand-ai;
      }

      &:hover,
      &:focus {
        &:after {
          color: darken($brand-ai, 15%);
        }
      }
    }

    .dropdown-select {
      &:after {
        color: $brand-ai;
      }

      &:hover,
      &:focus {
        &:after {
          color: darken($brand-ai, 15%);
        }
      }
    }
  }

  tbody tr:hover,
  tbody tr.table-active {
    td > a:not(.iap-icon-link):not(.dropdown-link) {
      color: $brand-ai;

      .iap-icon {
        background: $brand-ai;
      }

      &:hover {
        color: darken($brand-ai, 15%);

        .iap-icon {
          background: darken($brand-ai, 15%);
        }
      }
    }
  }
}
